
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #404040;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #404040;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #404040;
}

.page-item.active .page-link {
    background-color: #64a45a !important;
    border-color: #64a45a !important;
}

.page-link {
    color: #404040 !important;
}