<div class="angular-articles">
  <div class="container">
    <div class="row projects">
      <div class="col-sm-6 col-lg-4 item">
        <img class="img-fluid article-images" src="../../../assets/images/angular/angularnodesetup.jpg" />
        <h5 class="name"> <a class="angular-href" href="#">  Setup Angular 6 Application with NodeJS </a></h5>
      </div>
      <div class="col-sm-6 col-lg-4 item">
        <img class="img-fluid article-images" src="../../../assets/images/angular/node.js-vs-angularjs-blog.png" />
        <h5 class="name"> Setup Angular 6 Application with NodeJS</h5>
        <p class="description"> Angular 6 setup through NodeJS</p>
      </div>
      <div class="col-sm-6 col-lg-4 item">
        <img class="img-fluid article-images" src="../../../assets/images/angular/awsnode.png" />
        <h5 class="name"> Setup Angular 6 Application with NodeJS</h5>
        <p class="description"> Angular 6 setup through NodeJS</p>
      </div>
      <div class="col-sm-6 col-lg-4 item">
        <img class="img-fluid article-images" src="../../../assets/images/angular/angularnodesetup.jpg" />
        <h5 class="name">
          <a class="angular-href" href="#"> Setup Angular 6 Application with NodeJS </a>
        </h5>
      </div>
      <div class="col-sm-6 col-lg-4 item">
        <img class="img-fluid article-images" src="../../../assets/images/angular/node.js-vs-angularjs-blog.png" />
        <h5 class="name"> Setup Angular 6 Application with NodeJS</h5>
        <p class="description"> Angular 6 setup through NodeJS</p>
      </div>
      <div class="col-sm-6 col-lg-4 item">
        <img class="img-fluid article-images" src="../../../assets/images/angular/awsnode.png" />
        <h5 class="name"> Setup Angular 6 Application with NodeJS</h5>
        <p class="description"> Angular 6 setup through NodeJS</p>
      </div>
      <div class="col-sm-6 col-lg-4 item">
        <img class="img-fluid article-images" src="../../../assets/images/angular/angularnodesetup.jpg" />
        <h5 class="name">
          <a class="angular-href" href="#"> Setup Angular 6 Application with NodeJS </a>
        </h5>
      </div>
      <div class="col-sm-6 col-lg-4 item">
        <img class="img-fluid article-images" src="../../../assets/images/angular/node.js-vs-angularjs-blog.png" />
        <h5 class="name"> Setup Angular 6 Application with NodeJS</h5>
        <p class="description"> Angular 6 setup through NodeJS</p>
      </div>
      <div class="col-sm-6 col-lg-4 item">
        <img class="img-fluid article-images" src="../../../assets/images/angular/awsnode.png" />
        <h5 class="name"> Setup Angular 6 Application with NodeJS</h5>
        <p class="description"> Angular 6 setup through NodeJS</p>
      </div>

      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#">Previous</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>