<div class="article-template-container">
  <div class="container article-tempalate">
      <div class="row">
        <div class="col-md-8 article-page" *ngFor="let article of articleList">
              <div class="title article-head">
                <h5> {{ article.title }} </h5>
                <p> Posted By : {{ article.postedBy }} Email: {{ article.email }}</p>
              </div>
              <div class="title article-body">
                <div class="">
                  <h6> Introduction </h6>
                  <h6> {{ article.introduction }} </h6>
                </div>
              </div>
        </div>
        <div class="col-md-4">
          shekher
        </div>
      </div>
  </div>
</div>
